.footer-wrapper {
  padding-top: 120px;
  padding-bottom: 60px;
}

.footer-contact {
  color: #af782e;
  font-family: "Barlow Condensed";
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.28px;
  text-align: center;
}

.footer-number {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.footer-img-wrapper {
  display: flex;
  margin-top: 8px;
  gap: 40px 64px;
  justify-content: center;
  align-items: center;
}

.footer-img-icon {
  cursor: pointer;
}

.footer-powered {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 80px;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-wrapper {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .footer-contact {
    font-size: 62px;
  }

  .footer-number {
    font-size: 34px;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .footer-wrapper {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .footer-contact {
    font-size: 60px;
  }

  .footer-number {
    font-size: 32px;
  }
}
