.sponsor-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sponsor-txt {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 10px;
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sponsor-img {
    width: 100%; /* Set specific width as a percentage */
    max-width: 500px; /* Set a maximum width if needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits within the given dimensions */
    margin-bottom: 30px;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .banner-btn {
    position: absolute;
    top: 20%;
    right: -15%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background: #feb700;
    color: #0d0d0d;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18px;
  }
  .sponsor-img {
    width: 50%; /* Set specific width as a percentage */
    max-width: 500px; /* Set a maximum width if needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits within the given dimensions */
    margin-bottom: 30px;
  }
}
